<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <title>Login</title>
</head>
<body>
<h1>Login page</h1>
<div>
<form th:action="@{/login}" method="post">

    <span th:utext="${message}">...</span><br>

    <div class="form-group">
        <label for="username">Username</label>:
        <input type="text" id="username" name="userName" class="form-control" autofocus="autofocus" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
    </div>

    <span th:utext="${error}">...</span><br>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>

</form>
    <p><a href="/registration" th:href="@{/registration}">Create an account</a></p>
</div>
</body>
</html>