<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <title>Registration</title>
</head>
<body>
<h1>Registration page</h1>
<div>
    <form th:action="@{/login}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
    </form>

    <form th:action="@{/registration}" th:object="${userForm}" method="post">
        <div class="form-group">
            <label for="username">Username</label>:
            <input type="text" th:field="*{userName}" id="username" name="userName" class="form-control" autofocus="autofocus" placeholder="Username">
            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>:
            <input type="password" th:field="*{password}" id="password" name="password" class="form-control" placeholder="Password">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span>
        </div>
        <div class="form-group">
            <label for="name">Name</label>:
            <input type="text" th:field="*{name}" id="name" name="name" class="form-control" placeholder="Full Name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
        </div>
        <div class="form-group">
            <label>Role</label>:
            <select th:field="*{role}">
                <option value=""> -- </option>
                <option th:each="role : ${roles}"
                        th:value="${role}"
                        th:utext="${role}">
                </option>
            </select>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    <span th:utext="${successMessage}"></span>
</div>
</body>
</html>