<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome Page</h1>
<form id="logoutForm" method="POST" action="@{/logout}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>
<div>
    <h2>You have successfully registered</h2>
    <div th:if="${user != null}">
        <ul>
            <li>User Name:<span th:utext="${user.userName}"></span></li>
            <li>Name:<span th:utext="${user.name}"></span></li>
            <li>Role:<span th:utext="${user.role}"></span></li>
        </ul>
    </div>
    <div th:if="${userList != null}">
        <ul>
            <li th:each="user: ${userList}" th:utext="${user.userName}"></li>
        </ul>
    </div>
    <h2><a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
</div>

</body>
</html>